/* just change background color in css */

.tv{
    background-color: #fceae8;
}
.headphone{
    background-color: #fceae8;
}
.xbox{
    background-color: #fceae8;
}
.submit{
    background-color: #fceae8;
}